######
# Directories
######
.idea
**/autom4te.cache/
lib/.deps/
lib/.libs/
**/.libs
bin/.deps/
bin/.libs/
tests/.deps/
vulkan_earth/src/.deps/

######
# Files
######
.idea/**
**/*.swp
**/Makefile
**/Makefile.in
**/aclocal.m4
**/build
**/compile
**/config.guess
**/config.sub
**/install-sh
**/ltmain.sh
**/missing
COPYING
INSTALL
ar-lib
config.h
config.h.in
config.log
config.status
configure~
depcomp
lib/*.la
lib/*.lo
lib/*.o
libtool
stamp-h1
tags
test-driver
scripts/**.log
**/*.o
**/configure
**/.dirstamp
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

######
# Build Files
######
compile_commands.json
bin/tutorial*_runner
bin/shader.*.spv
bin/texture.*.png
vulkan_earth/src/vulkan_earth_runner
vulkan_earth/src/vk_skybox_pilot_runner
vulkan_earth/src/shader.*.spv
tests/math_test
tests/math_test.log
tests/math_test.trs
tests/vertex_types_test
tests/vertex_types_test.log
tests/vertex_types_test.trs
tests/tools_test
tests/tools_test.log
tests/tools_test.trs
tests/operating_system_test
tests/operating_system_test.log
tests/operating_system_test.trs
tests/logging_test
tests/logging_test.log
tests/logging_test.trs
tests/logger_helpers_test
tests/logger_helpers_test.log
tests/logger_helpers_test.trs
tests/tutorial_base_helpers_test
tests/tutorial_base_helpers_test.log
tests/tutorial_base_helpers_test.trs
tests/tutorial_base_fault_injection_test
tests/tutorial_base_fault_injection_test.log
tests/tutorial_base_fault_injection_test.trs
tests/tutorial_base_fault_injection_swapchain_test
tests/tutorial_base_fault_injection_swapchain_test.log
tests/tutorial_base_fault_injection_swapchain_test.trs
tests/tutorial_base_fault_injection_device_level_test
tests/tutorial_base_fault_injection_device_level_test.log
tests/tutorial_base_fault_injection_device_level_test.trs
tests/tutorial04_fault_injection_test
tests/tutorial04_fault_injection_test.log
tests/tutorial04_fault_injection_test.trs
tests/tutorial05_fault_injection_test
tests/tutorial05_fault_injection_test.log
tests/tutorial05_fault_injection_test.trs
tests/tutorial06_fault_injection_test
tests/tutorial06_fault_injection_test.log
tests/tutorial06_fault_injection_test.trs
tests/tutorial07_fault_injection_test
tests/tutorial07_fault_injection_test.log
tests/tutorial07_fault_injection_test.trs
tests/tutorial03_fault_injection_test
tests/tutorial03_fault_injection_test.log
tests/tutorial03_fault_injection_test.trs
tests/tutorial08_fault_injection_test
tests/tutorial08_fault_injection_test.log
tests/tutorial08_fault_injection_test.trs
tests/tutorial09_fault_injection_test
tests/tutorial09_fault_injection_test.log
tests/tutorial09_fault_injection_test.trs
tests/tutorial10_fault_injection_test
tests/tutorial10_fault_injection_test.log
tests/tutorial10_fault_injection_test.trs
tests/tutorial*_integration_test
tests/tutorial*_integration_test.log
tests/tutorial*_integration_test.trs
tests/test-suite.log
tests/shader.*.spv
tests/texture.*.png
**/.cache

######
# Code coverage (--enable-coverage)
######
**/*.gcno
**/*.gcda
coverage-html/
coverage.info
