######
# Directories
######
.idea
**/autom4te.cache/
lib/.deps/
lib/.libs/
**/.libs
bin/.deps/
bin/.libs/
tests/.deps/

######
# Files
######
.idea/**
**/*.swp
**/Makefile
**/Makefile.in
**/aclocal.m4
**/build
**/compile
**/config.guess
**/config.sub
**/install-sh
**/ltmain.sh
**/missing
COPYING
INSTALL
ar-lib
config.h
config.h.in
config.log
config.status
configure~
depcomp
lib/*.la
lib/*.lo
lib/*.o
libtool
stamp-h1
tags
test-driver
scripts/**.log
**/*.o
**/configure
**/.dirstamp
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

######
# Build Files
######
compile_commands.json
bin/tutorial*_runner
bin/shader.*.spv
bin/texture.*.png
tests/math_test
tests/math_test.log
tests/math_test.trs
tests/vertex_types_test
tests/vertex_types_test.log
tests/vertex_types_test.trs
tests/integration_test
tests/integration_test.log
tests/integration_test.trs
tests/test-suite.log
tests/shader.*.spv
tests/texture.*.png
**/.cache

######
# Code coverage (--enable-coverage)
######
**/*.gcno
**/*.gcda
coverage-html/
coverage.info
